/* preloading del fondo */
@media screen {
    body::after{
        position:absolute; 
        width: 0; 
        height: 0; 
        overflow: hidden; 
        z-index: -1;
        content: url(https://s3.amazonaws.com/assets.alenta.me/planilla-f7r.svg);
    }

}

@media only print {
    @page {
        size: A4 landscape;
        margin-top: 7.5mm;
        margin-left: 30mm;
    }

    .lineup-bg-image {
        display: none;
    }

    .lineup-print-container {
        background-image: url(https://s3.amazonaws.com/assets.alenta.me/planilla-f7r.svg) !important;
        width: 28.16cm;
        height: 19cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        overflow: hidden;
        background-size: cover !important;
        background-repeat:  no-repeat !important
     }

    .header-ref-legend {
        display: none;
    }

    .lineups-header .panel {
         border: none;
         margin-bottom: 0px;
     }

    .players-name-cell {
        font-size: 11px;
        margin-left: -14px;
        max-width: 190px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

     .players-table,
    .players-table.table-bordered th,
    .players-table.table-bordered td {
        border: none !important;
        background: transparent !important;
        vertical-align: middle;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 20px;
        margin-left: -13px;
    }

    .players-table thead {
        display: none !important;
    }

    .players-table .players-document-cell-within-name {
        display: none;
    }

    .players-table .players-document-cell {
        position: relative;
        right: 126px;
    }

    .players-table .players-players-name-cell {
        vertical-align: top;
        max-width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }


    .lineups-header .header-ref-referee {
        position: absolute;
        left: -21px;
        top: 72.5px
    }

    .lineups-header .header-ref-venue {
        position: absolute;
        left: -360px;
        top: 72.5px
    }

    .lineups-header .header-ref-fixture {
        position: absolute;
        left: 40px;
        top: 51.5px;
    }

    .lineups-header .header-ref-day {
        position: absolute;
        left: -315px;
        top: 51.4px;
    }

    .lineups-header .header-ref-hour {
        position: absolute;
        left: -315px;
        top: 73.5px;
    }

    .panel-body {
        position:absolute;
        display: flex;
        flex-direction:row
    }

    .lineups-header .header-ref-tournament:after {
        content: "-";
        margin: 0 5px;
    }

    .lineups-header .header-ref-season:after {
        content: "-";
        margin: 0 5px;
    }

    .lineups-header .header-ref-pitch {
        position: absolute;
        left: -21px;
        top: 51.4px;
        width: 250px;
    }

    .lineups-header .match-info {
        height: 118px;
    }

    .lineups-header .team-title {
        margin-top: 19px;
        max-width: 450px;
        overflow: hidden;
        line-height: 1.2em;
        max-height: 2.4em;
        font-size: 27px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .lineups-header .home-team-title {
        text-align: center;
        margin-left: 5px;
    }

    .lineups-header .away-team-title {
        margin-left: 63px;
        text-align: center;
    }

    .lineups-print-container .tables-container {
        margin-top: 45px;
    }

    .tshirt-column {
        width: 35px;
    }

    .player-column {
        width: 181px;
    }

    .team-names-container {
        height: 60px;
        max-height: 100px;
    }
}
