@media only print{
    @page {
        size: legal landscape;
        margin-top: 7.5mm;
        margin-bottom: 10mm;
        margin-left: 30mm;
        margin-right: 10mm;
    }
    
    .lineup-print-container {
	    width: 31.6cm;
	    height: 19.75cm;
	    display: block;
	    overflow: hidden;
	 }

    .header-ref-legend {
        display: none;
    }
    .lineups-header .panel {
        border: none;
        margin-bottom: 0px;
    }

    .lineups-header .panel-body {
        padding: 0px !important;
    }

    .players-table,
    .players-table.table-bordered th,
    .players-table.table-bordered td {
        border: none !important;
    }

    .players-table thead {
        display: none !important;
    }

    .players-table .players-document-cell {
        margin-left: 50px;
    }

    .lineups-header .header-ref-referee {
        display: none;
    }

    .lineups-header .header-ref-venue {
        display: inline-block;
    }

    .lineups-header .header-ref-pitch {
        display: inline-block;
        margin-left: 5px;
    }

    .lineups-header .header-ref-hour {
        position: absolute;
        top: 27px;
        left: 346px;
    }

    .lineups-header .header-ref-tournament,
    .lineups-header .header-ref-season {
        display: inline-block;
    }

    .lineups-header .header-ref-tournament {
        margin-right: 4px;
    }

    .lineups-header .header-ref {
        height: 27px;
    }

    .lineup-print-container {
        margin-top: 30px;
    }

    .lineups-header .match-info {
        height: 57px;
    }


    .lineups-header .match-info-1 {
        margin-left: 246px;
        position: absolute;
    }

    .lineups-header .match-info-2 {
        margin-left: 695px;
        position: absolute;
    }

    .lineups-header .match-info-3 {
        margin-left: 1026px;
        position: absolute;
    }

    .lineups-header .team-title {
        margin-top: 6px;
    }

    .lineups-header .home-team-title {
        margin-left: 70px;
    }

    .lineups-header .away-team-title {
        margin-left: 38px;
    }

    .lineups-print-container .tables-container {
        margin-top: 23px;
    }

    .players-table > thead > tr > th,
    .players-table > tbody > tr > th,
    .players-table > thead > tr > td,
    .players-table > tbody > tr > td {
        line-height: 0.3;
    }

    .lineups-print-container .home-table-container {
        margin-left: 16px;
    }

    .lineups-print-container .home-table-container,
    .lineups-print-container .away-table-container {
        width: 405px;
        min-height: 510px;
    }

    .lineups-print-container .away-table-container {
        position: absolute;
        left: 567px;
    }

    .tshirt-column {
        width: 35px;
    }

    .player-column {
        width: 181px;
    }
}
