@media only print{
    @page {
        size: legal landscape;
        margin-top: 10mm;
        margin-bottom: 10mm;
        margin-left: 20mm;
        margin-right: 20mm; 
    }

    .header-ref-legend {
        display: none;
    }

    .page-reference {
        display: none;
    }

    .lineups-header {
        position: relative;
    }

    .lineups-header .panel {
        border: none;
        margin-bottom: 0px;
    }

    .lineups-header .panel-body {
        padding: 0px !important;
    }

    .players-table,
    .players-table.table-bordered th,
    .players-table.table-bordered td {
        border: none !important;
        line-height: unset;
        padding: 0px;
    }

    .players-table thead {
        display: none !important;
    }

    .players-table .players-document-cell {
    }

    .lineups-header .header-ref-referee {
        display: none;
    }

    .lineups-header .header-ref-venue {
        display: inline-block;
    }

    .lineups-header .header-ref-pitch {
        display: inline-block;
        margin-left: 5px;
    }

    .lineups-header .header-ref-hour {
        position: absolute;
        top: 25px;
        left: 9cm;
    }

    .lineups-header .header-ref-tournament,
    .lineups-header .header-ref-season {
        display: inline-block;
    }

    .lineups-header .header-ref-tournament {
        margin-right: 4px;
    }

    .lineups-header .header-ref {
        height: 27px;
    }

    .lineup-print-container {
        margin-top: 0.4cm;
    }

    .lineups-header .match-info {
        height: 1.6cm;
        margin-top: 0.3cm;
        position: relative;
        margin-left: 0px;
        margin-right: 0px;
    }

    .lineups-header .match-info .match-info-1,
    .lineups-header .match-info .match-info-2,
    .lineups-header .match-info .match-info-3 {
        width: unset;
        position: absolute;
        padding-left: 0px;
        padding-right: 0px;
    }

    /* match info columns */
    /* column info 1: margin-left: 6.1cm; */
    /* column info 2: margin-left: 18cm; */
    /* column info 3: margin-left: 28.3cm; */

    .lineups-header .match-info-1 {
        margin-left: 6.1cm;
    }

    .lineups-header .match-info-2 {
        margin-left: 18cm;
    }

    .lineups-header .match-info-3 {
        margin-left: 27cm;
    }

    .lineups-header .team-title {
        margin-top: 6px;
    }

    .lineups-header .home-team-title {
        margin-left: 70px;
    }

    .lineups-header .away-team-title {
        margin-left: 38px;
    }

    .lineups-print-container .tables-container {
        position: relative;
        margin-top: 27px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .players-table > thead > tr > th,
    .players-table > tbody > tr > th,
    .players-table > thead > tr > td,
    .players-table > tbody > tr > td {
        line-height: unset;
    }

    .players-table > thead > tr,
    .players-table > tbody > tr,
    .players-table > thead > tr,
    .players-table > tbody > tr {
        height: 0.49cm;
        font-size: 10px;
    }

        

    .lineups-print-container .home-table-container {
        margin-left: 0.2cm;
    }

    .lineups-print-container .home-table-container,
    .lineups-print-container .away-table-container {
        width: 10.8cm;
        min-height: 510px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .lineups-print-container .away-table-container {
        position: absolute;
        left: 15.1cm;
    }

    .tshirt-column {
        width: 1cm;
    }

    .player-column {
        width: 6.4cm;
    }

    .document-column {
        width: 3.4cm;
    }
}